PORT=3000
DB_PATH=responses.db
ADMIN_TOKEN=Kankou@224

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=lamineernestk@gmail.com
SMTP_PASS=Kankou@224
MAIL_FROM=lamineernestk@gmail.com
NOTIFY_EMAIL=lamineernestk@gmail.com
